{% extends "base.html" %}
{% load staticfiles %}


{% block head %}
    <link href="{% static 'website/css/bootstrap.min.css' %}" media="screen" rel="stylesheet" type="text/css"
        xmlns="http://www.w3.org/1999/html">
    <script src="{% static 'website/js/tether.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'website/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <link href="{% static 'website/css/jquery.scrollpane.css' %}" foo="bar" media="screen" rel="stylesheet" type="text/css">
    <script src="{% static 'website/js/jquery.migrate.js' %}" type="text/javascript"></script>
    <link href="{% static 'website/css/jquery.contextMenu.min.css' %}" foo="bar" media="screen" rel="stylesheet" type="text/css">
    <script src="{% static 'website/js/jquery.appear.js' %}" type="text/javascript"></script>
    <script src="{% static 'website/js/jquery.scrollpane.js' %}"></script>
    <script src="{% static 'website/js/jquery.mousewheel.js' %}"></script>
    <script src="{% static 'website/js/jquery.scrollDelta.js' %}"></script>
    <script src="{% static 'website/js/jquery.min.js' %}" type="text/javascript"></script>
      <script src="{% static 'website/js/jquery.contextMenu.min.js' %}"></script>
    <script src="{% static 'website/js/format_identifier.js' %}" type="text/javascript"></script>
    <script src="{% static 'website/js/mobilemenu.js' %}" type="text/javascript"></script>
    <script src="{% static 'website/js/lazyload.js' %}" type="text/javascript"></script>
    <script src="{% static 'website/js/main.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}

      <!-- CONTENT -->
      <div class="cursor_l cursor_white cursor_left" id="content">
        <div style="padding-bottom: 0px;" class="container clearfix">
          <a class="ie-next"></a>
          <a class="ie-prev"></a>

          <!-- ASSETS : START -->
          <div class="assets size_700" style="width: 18402px;">
          <div style="width: 36804px;" id="assets_wrap">


            {% for image in images %}
                  <div class="asset image">
                    <div class="wrap">
                      <div class="img">
                          <img class="lazyimage" lazyloaded="true" src="{{ image.get_display_url }}" alt="" title="{{ image.caption }}" data-aspect-ratio="595:900">
                      </div>
                    </div>
                  </div>
            {% endfor %}



          </div>
          <!-- ASSETS : END -->
        </div>
        </div>
      </div>
      <!-- CONTENT END -->

    </div>
  <script type="text/javascript">

        $.contextMenu({
            selector: '.lazyimage',
            callback: function(key, options) {
                var m = "clicked: " + key;
                //window.console && console.log(m) || alert(m);
            },
            items: {
                "copyright": {name: "Copyright Jifan Photography, tous droits réservés", icon: ""},
                //"sep1": "---------",
                //"quit": {name: "Quit", icon: function(){
                //    return 'context-menu-icon context-menu-icon-quit';
                //}}
            }
        });

        $('.context-menu-one').on('click', function(e){
            console.log('clicked', this);
        })

  </script>

  <style type="text/css">
    b, strong { font-weight: bold; }
    i, em { font-style: italic; }
    html body #using {
      height: auto!important;
      left: auto!important;
      line-height: 1!important;
      margin: 0!important;
      opacity: 1!important;
      padding: 0!important;
      position: fixed!important;
      text-indent: 0!important;
      top: auto!important;
      visibility: visible!important;
      width: auto!important;
      z-index: 2147483647!important;
      -webkit-transform: none!important;
      -moz-transform: none!important;
      -ms-transform: none!important;
      -o-transform: none!important;
      transform: none!important;

        color: #666666!important;

      font-size: 10px;
      font-family: verdana, Arial, sans-serif!important;
      display:block!important;


          bottom: 10px!important;




          right: 10px!important;


      word-spacing: 0px!important;
    }
    html body #using::before,
    html body #using::after {
      display: none!important;
    }
    #using a {
      opacity: 1!important;
      z-index: 2147483647!important;
      display:inline!important;
      position:static!important;
      text-decoration: underline!important;

        color: #666666!important;

    }
    #using a:hover {
      color:red!important;
      text-decoration: underline!important;
    }
  </style>


<style type="text/css">
  /* Image Protection */
  #image_protection_notice {
    color: #000;
    padding: 8px 8px;
    width: 200px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 0 5px #222;
    -webkit-box-shadow: 0 0 5px #222;
    -moz-box-shadow: 0 0 5px #222;
    box-shadow: 0 0 5px #222
  }
</style>

<script type="text/javascript">
  //<![CDATA[
  //]]>
</script>

<!--<script src="https://static0.format-assets.com/static/theme_api/v1/4ormat-b2a281bf412c1e982414a3bb51f2ece8ff436bf93c673c10f048fe739b61c361.js" type="text/javascript"></script>-->
<script src="{% static 'website/js/lazyload.js' %}" />

{% load staticfiles %}
{#<script src="{% static 'website/js/jquery.easying.1.3.js' %}"></script>#}
{#  <script>#}
{#  $(function() {#}
{#	$('ul.nav a').bind('click',function(event){#}
{#		var $anchor = $(this);#}
{#		/*#}
{#		if you want to use one of the easing effects:#}
{#		$('html, body').stop().animate({#}
{#			scrollLeft: $($anchor.attr('href')).offset().left#}
{#		}, 1500,'easeInOutExpo');#}
{#		 */#}
{#		$('html, body').stop().animate({#}
{#			scrollLeft: $($anchor.attr('href')).offset().left#}
{#		}, 1000);#}
{#		event.preventDefault();#}
{#	});#}
{#});#}

  <!--</script>-->
  {% load staticfiles %}
  <script src="{% static 'website/js/jquery.scrollpane.js' %}"></script>

<!--	<script>
		(function($){
			$(window).load(function(){

				/*
				get snap amount programmatically or just set it directly (e.g. "273")
				in this example, the snap amount is list item's (li) outer-width (width+margins)
				*/
				var amount=Math.max.apply(Math,$("#content-1 li").map(function(){return $(this).outerWidth(true);}).get());

				$("#content-1").mCustomScrollbar({
					axis:"x",
					theme:"inset",
					advanced:{
						autoExpandHorizontalScroll:true
					},
					scrollButtons:{
						enable:true,
						scrollType:"stepped"
					},
					keyboard:{scrollType:"stepped"},
					snapAmount:amount,
					mouseWheel:{scrollAmount:amount}
				});

			});
		})(jQuery);
	</script>-->

{% endblock %}