body {
  background-image: url(../images/contact-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.btn.outline{
  /*background: none;*/
    color: #A2C760;
}

.btn{
    background: #fff;
    opacity: 0.8;
    border-color:#A2C760;
}

.btn:hover{
    border-color:#A2C760;
    background: #78A239;
    color: #000000;
}
textarea, input, button{
    background: #FFFFFF;
    opacity: 0.8;
}

h1{
    color: #A2C760;
}

div.thanks  {
    background: #ffffff;
    opacity: 0.8;
}

div.thanks p {
    margin-top: 3em;
    margin-bottom: 3em;
    text-align: center;
}